<div class="header">
  <p class="titletext">Triliterize</p>
</div>

<div class="spacer">&nbsp;</div>

<Translator />

<div class="footer">
  <p class="foot">&copy; 2019 <a href="https://www.olivialiddell.com" target="_blank" rel="noopener">Olivia Liddell</a></p>
</div>
